* {
  box-sizing: border-box;
}

body {
  color: #E3F3F3;
  font-family: Georgia, serif;
  background: #3B4548;
  margin: 20px 20px 20px 20px;
  padding: 15px;
  background-image: url('../img/bali2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  scroll-behavior: smooth;
}

.title {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background-color: #3B4548;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #35CDD1;
  opacity: 0.8;
  margin: 100px 10px 100px 10px;
}

h1 {
    position: relative;
    z-index: 2;
    font-size: 60px;
    text-align: center;
    padding: 30px;
    color: #C4EFDA;
    font-weight: bold;
}

.aboutemilyblock {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 23px;
  font-family: monospace;
}

.question {
  font-weight: bold;
  font-size: 1.2em;
}


.nav {
    overflow: hidden;
    background-color: #3B4548;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    border: 1px solid #35CDD1;
    display: block;
    background-color: #3B4548;
    line-height: 2.5em;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    opacity: 0.8;

}

a:link, a:visited {
  color: #35CDD1;
}

a:hover {
  color: #C4EFDA;
}

@media all and (max-width: 768px) {

  .nav {
      overflow: hidden;
      background-color: #3B4548;
      position: fixed;
      float: left;
      left: 0;
      text-align: left;
      border-radius: 5px;
      margin: 5px;
      border: 1px solid #35CDD1;
      line-height: 2.5em;
      font-family: monospace;
      font-size: 12px;
      padding: 10px;
      opacity: 0.8;
      width: 75px;
    }

  .aboutemilyblock {
    font-size: 15px;
    margin: 10px;
  }

  h1 {
      font-size: 40px;
  }

}
