* {
  box-sizing: border-box;
}

body {
  color: #E3F3F3;
  font-family: Georgia, serif;
  background: #3B4548;
  /* margin: 20px;
  padding: 15px; */
  background-position: top;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

#hamburger {
  background-color: #3B4548;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 20px;
  border: 1px solid #35CDD1;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 20px;
  padding: 1px 13px;
  opacity: 0.8;
  color: #C4EFDA;
  z-index: 100;
}

.nav {
  overflow: hidden;
  background-color: #3B4548;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
  border: 1px solid #35CDD1;
  display: block;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 16px;
  padding: 8px;
  opacity: 0.8;
  z-index: 100;
}

.background-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
}

.background-image h1 {
  position: relative;
  z-index: 2;
  font-size: 70px;
  text-align: center;
  padding: 10px;
  color: #C4EFDA;
  font-weight: bold;
  margin: 40px 10px 20px 10px;
  padding: 100px;
}

.background-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
  border: none;
}

.title h1 {
  position: relative;
  z-index: 2;
  font-size: 60px;
  text-align: center;
  padding: 30px;
  color: #C4EFDA;
  font-weight: bold;
}

#summary {
  opacity: 0.01;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
  border: 1px solid #35CDD1;
  display: block;
  background-color: #3B4548;
  padding: 8px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 40px;
  color: #35CDD1;
  margin: 20px 80px 20px 80px;
}

.mywhytitle {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 40px;
  color: #C4EFDA;
  margin: auto;
}

#mywhytitle {
  display: none;
}

.mywhy {
  font-size: 30px;
  color: #35CDD1;
  font-family: monospace;
  text-align: center;
  border: 1px solid #35CDD1;
  margin: 20px 55px 20px 55px;
  padding: 8px;
  border-radius: 5px;
}

.mywhy li {
  display: inline-block;

}

.mywhy li:before {
	content: '\00a0\2022\00a0\00a0';
	color: #35CDD1;
	font-size: 22px;
}
.mywhy li:first-child:before {
	content: '';
}

#e, #a, #g, #d {
  display: none;
}

#mywhycontent {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .3px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 1.5em;
  font-family: monospace;
}

.blocktitle {
  width: 100%;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 30px;
  color: #C4EFDA;
  margin: 40px;
}

h3 {
  font-size: 50px;
}

p.content {
  margin-left: 40px;
  margin-right: 40px;
  border: 10px solid #23C6B3;
  border-radius: 18px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 23px;
  font-family: monospace;
  overflow: none;
}

.floatblock {
  width: 50%;
  float: left;
  overflow: none;
}

p {
  margin-bottom: 1em;
}

a:link, a:visited {
  color: #35CDD1;
  text-decoration: none;
}

a:hover {
  color: #C4EFDA;
}

#cross {
  text-decoration: none;
  font-size: 19px
}

#top {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: inline-block;
}

.aboutemilyblock {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 30px;
  font-family: monospace;
}

.question {
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  margin: 20px;
}

.row {
  width: 100%;
  clear: both;
  overflow: none;
}

.col {
  width: 33.3333%;
  float: left;
}

.col.col-full {
  width: 100%;
  float: none;
}

h2.title-gallery {
  text-align: left;
  margin: 5px;
}

.nav-gallery {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 30px;
  color: #35CDD1;
  width: 100%;
  margin: 10px;
}

.nav-gallery li {
  display: inline-block;
  color: #747E7A;
  border: 5px solid #23C6B3;
  border-radius: 18px;
  background: #C4EFDA;
  padding: 10px;
  width: 32.5%;
  text-align: center;
}

img {
  border: 5px solid #23C6B3;
  border-radius: 10px;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

#contactimg img {
  width: 50%;
}

#philly, #korea, #south, #tech, #crazy, #creative, #bed, #world, #mom {
  display: none;
}

.nav-gallery a.is-active {
  color: #747E7A;
  text-decoration: none;
}

.nav-gallery a:hover {
  color: #747E7A;
}

body#about {
  color: #E3F3F3;
  font-family: Georgia, serif;
  background: #3B4548;
  margin: 20px 20px 20px 20px;
  padding: 15px;
  background-image: url('../img/bali2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  scroll-behavior: smooth;
}

h1.title {
  display: block;
  background-color: #3B4548;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #35CDD1;
  opacity: 0.8;
  margin: 50px 100px 80px 100px;
  padding: 40px;
  font-size: 60px;
  text-align: center;
  color: #C4EFDA;
  font-weight: bold;
}

h1#first {
  display: block;
  text-align: center;
  background-color: #23C6B3;
  opacity: 0.9;
  border-radius: 5px 5px 5px 5px;
  margin: 50px 100px 80px 100px;
  padding: 50px;
  font-size: 80px;
  color: #3B4548;
  font-weight: bold;
}

.slideShow {
  text-align: center;
}

.slideShow img {
  display: none;
  width: 500px;
}

#next {
  bottom: 0;
}

#prev {
  bottom: 0;
}

.buttons {
  text-align: center;
}

.testimonial {
  font-weight: bold;
  font-size: 1.2em;
}

i.fa {
  font-size: 80px;
  color: #35CDD1;
  padding: 10px;
}

.subtitle {
  display: block;
  padding: 30px;
  text-align: center;
}

i.fa-lightbulb-o {
  font-size: 200px;
  padding-bottom: 0;
}

.Thankblock {
  border-radius: 5px 5px 5px 5px;
  margin: 40px;
  border: 5px solid #35CDD1;
  padding: 10px;
  clear: both;
  text-align: center;
  background-image: url('../img/Bali13.jpg');
}

.container2 {
  display: inline-block;
  margin: 30px;
}




@media all and (max-width: 768px) {

  .col {
    width: 100%;
  }

  .nav {
    font-size: 18px;
    padding: 10px;
    opacity: 0.8;
    width: 100px;
  }

  .nav-gallery li {
    display: block;
    color: #747E7A;
    border: 5px solid #23C6B3;
    border-radius: 18px;
    background: #C4EFDA;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .subtitle h2 {
    font-size: 50px;

  }

  .floatblock {
    width: 100%;
    float: left;
    font-size: 16px;
  }

  .background-image h1 {
    position: relative;
    z-index: 2;
    font-size: 65px;
    width: 100%;
    color: #C4EFDA;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
    padding: 80px;
  }

  .mywhy {
    font-size: 40px;
    margin: 20px 55px 20px 55px;
    padding: 10px;
  }

  #mywhycontent {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    padding: 25px;
  }

  .pictureblocktitle {
    background-image: url("../img/bustop.jpg");
    background-position: top center;
    width: 100%;
    float: left;
    margin: 40px auto auto auto;
    padding: 80px;
  }

  .pictureblocktitle h3 {
    font-size: 20px
  }

  .mywhy li {
    display: block;
  }

  .mywhy li:before {
    content: '';
    color: #35CDD1;
    font-size: 30px;
  }

  .mywhy li:first-child:before {
    content: '';
    color: #35CDD1;
    font-size: 30px;
  }

  p.content {
    font-size: 23px;
    margin: 10px 0px 10px 0px;
    line-height: 1.5em;
  }

  h1.title {
    padding: 8px;
    font-size: 50px;
    margin: 30px 20px;
  }

  .aboutemilyblock {
    line-height: 1.4em;
  }

  i.fa {
    font-size: 40px;
    color: #35CDD1;
    padding: 10px;
  }

  .subtitle {
    display: block;
    padding: 20px;
    text-align: center;
  }

  i.fa-lightbulb-o {
    font-size: 170px;
    padding-bottom: 0;
  }

  h1#first {
    margin: 20px;
    font-size: 45px;
    margin-bottom: 50px;
  }

  h2#summary {
    font-size: 30px;
  }


}

@media all and (max-width: 450px) {



  #hamburger {
    font-size: 20px;
  }

  .background-image {
    padding: 10px;
  }

  .background-image h1 {
    z-index: 2;
    font-size: 45px;
    width: 100%;
    color: #C4EFDA;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
    padding: 30px;
  }

  .subtitle h2 {
    font-size: 24px;
  }

  .pictureblocktitle {
    background-image: url("../img/bustop.jpg");
    background-position: top center;
  }

  .pictureblocktitle h3 {
    font-size: 23px
  }

  .mywhy {
    font-size: 22px;
    color: #35CDD1;
    font-family: monospace;
    text-align: center;
    border: 1px solid #35CDD1;
    margin: 20px 55px 20px 55px;
    padding: 5px;
    border-radius: 5px;
  }

  .mywhy li {
    display: block;
  }

  .mywhy li:before {
  	content: '';
  	color: #35CDD1;
  	font-size: 22px;
  }

  .mywhy li:first-child:before {
  	content: '';
    color: #35CDD1;
  	font-size: 22px;
  }

  p.content {
    font-size: 18px;
    margin: 20px;
  }






}
