* {
  box-sizing: border-box;
}

#hamburger {
  background-color: #3B4548;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
  border: 1px solid #35CDD1;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 20px;
  padding: 1px 13px;
  opacity: 0.8;
  color: #C4EFDA;
}

.nav {
  overflow: hidden;
  background-color: #3B4548;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
  border: 1px solid #35CDD1;
  display: block;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 16px;
  padding: 8px;
  opacity: 0.8;
  z-index: 100;
}

.background-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.background-image h1 {
  position: relative;
  z-index: 2;
  font-size: 70px;
  text-align: center;
  padding: 10px;
  color: #C4EFDA;
  font-weight: bold;
  margin: 40px 10px 20px 10px;
  padding: 100px;
}

.background-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
  border: none;
}

.title h1 {
  position: relative;
  z-index: 2;
  font-size: 60px;
  text-align: center;
  padding: 30px;
  color: #C4EFDA;
  font-weight: bold;
}

.subtitle h2 {
  font-size: 40px;
  margin: 7%;
}

#summary {
  opacity: 0.01;
}

.fadebody {
  display: none;
}

body {
  color: #E3F3F3;
  font-family: Georgia, serif;
  background: #3B4548;
  margin: 20px;
  padding: 15px;
  background-position: top;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}


h2 {
  text-align: center;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 40px;
  color: #35CDD1;
  margin: 20px 80px 20px 80px;
}

.mywhytitle {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 40px;
  color: #C4EFDA;
  margin: auto;
}

#mywhytitle {
  display: none;
}

.mywhy {
  font-size: 30px;
  color: #35CDD1;
  font-family: monospace;
  text-align: center;
  border: 1px solid #35CDD1;
  margin: 20px 55px 20px 55px;
  padding: 5px;
  border-radius: 5px;

}

.mywhy li {
  display: inline-block;

}

.mywhy li:before {
	content: '\00a0\2022\00a0\00a0';
	color: #35CDD1;
	font-size: 22px;
}
.mywhy li:first-child:before {
	content: '';
}

#e, #a, #g, #d {
  display: none;
}

#mywhycontent {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .3px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 1.5em;
  font-family: monospace;
}

.blocktitle {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 30px;
  color: #C4EFDA;
  margin: 40px auto auto auto;
}

h3 {
  font-size: 50px;
}

p.content {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 10px solid #23C6B3;
  border-radius: 18px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 23px;
  font-family: monospace;
  overflow: scroll;
}

.floatblock {
  width: 50%;
  float: left;
}

.pictureblocktitle {
  position: relative;
  z-index: 2;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: #C4EFDA;
  font-weight: bold;
  margin: 50px 40px 20px 40px;
  padding: 80px;
  background-image: url("../img/rainbali2.jpg");
  border: 10px solid #23C6B3;
  border-radius: 20px;
}

p {
  margin-bottom: 1em;
}

a:link, a:visited {
  color: #35CDD1;
}

a:hover {
  color: #C4EFDA;
}

#cross {
  text-decoration: none;
  font-size: 19px
}

#top {
  width: auto 0;
  text-align: center;
  padding: 20px;
}

.aboutemilyblock {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 30px;
  font-family: monospace;
}

.question {
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  margin: 0 20px 0 20px;

}

.row {
  width: 100%;
  clear: both;
  overflow: auto;
}

.col {
  width: 33%;
  float: left;
}

.col.col-full {
  width: 100%;
  float: none;

}

h2.title-gallery {
  text-align: left;
  margin-left: 5px;
}


.nav-gallery {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 30px;
  color: #35CDD1;
  width: 100%;
}

.nav-gallery li {
    display: inline-block;
    color: #747E7A;
    border: 5px solid #23C6B3;
    border-radius: 18px;
    background: #C4EFDA;
    padding: 10px;
    width: 32.5%;
    text-align: center;
}

img {
  border: 5px solid #23C6B3;
  border-radius: 10px;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

#contactimg img {
  width: 50%;
}

#philly, #korea, #south {
  display: none;
}





@media all and (max-width: 768px) {

  .col {
    width: 100%;
  }

  .nav {
    font-size: 18px;
    padding: 10px;
    opacity: 0.8;
    width: 100px;
  }

  .nav-gallery li {
    display: block;
    color: #747E7A;
    border: 5px solid #23C6B3;
    border-radius: 18px;
    background: #C4EFDA;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  #hamburger {
    font-size: 35px;
  }

  .subtitle h2 {
    font-size: 50px;
  }

  .floatblock {
    width: 100%;
    float: left;
    font-size: 16px;
  }

  .background-image h1 {
    position: relative;
    z-index: 2;
    font-size: 65px;
    width: 100%;
    color: #C4EFDA;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
    padding: 80px;
  }

  .mywhy {
    font-size: 40px;
    margin: 20px 55px 20px 55px;
    padding: 10px;
  }

  #mywhycontent {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    padding: 25px;
  }

  .pictureblocktitle {
    background-image: url("../img/bustop.jpg");
    background-position: top center;
  }

  .pictureblocktitle h3 {
    font-size: 20px
  }

  .mywhy li {
    display: block;
  }

  .mywhy li:before {
    content: '';
    color: #35CDD1;
    font-size: 30px;
  }

  .mywhy li:first-child:before {
    content: '';
    color: #35CDD1;
    font-size: 30px;
  }

  p.content {
    font-size: 23px;
    margin: 10px 0px 10px 0px;
    line-height: 1.5em;
  }

  .aboutemilyblock {
    font-size: 15px;
    margin: 10px;
  }



}

@media all and (max-width: 450px) {

  body {
    padding: 0;
    margin: 25px 10px 10px 10px;
  }

  #hamburger {
    font-size: 20px;
  }

  .background-image {
    padding: 10px;
  }

  .background-image h1 {
    z-index: 2;
    font-size: 45px;
    width: 100%;
    color: #C4EFDA;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
    padding: 30px;
  }

  .subtitle h2 {
    font-size: 24px;
  }

  .pictureblocktitle {
    background-image: url("../img/bustop.jpg");
    background-position: top center;
  }

  .pictureblocktitle h3 {
    font-size: 23px
  }

  .mywhy {
    font-size: 22px;
    color: #35CDD1;
    font-family: monospace;
    text-align: center;
    border: 1px solid #35CDD1;
    margin: 20px 55px 20px 55px;
    padding: 5px;
    border-radius: 5px;
  }

  .mywhy li {
    display: block;
  }

  .mywhy li:before {
  	content: '';
  	color: #35CDD1;
  	font-size: 22px;
  }

  .mywhy li:first-child:before {
  	content: '';
    color: #35CDD1;
  	font-size: 22px;
  }

  p.content {
    font-size: 15px;
    margin: 10px 0px 10px 0px;
  }

  #mywhycontent {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
  }




}
