* {
  box-sizing: border-box;
}

.background-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.background-image h1 {
    position: relative;
    z-index: 2;
    font-size: 70px;
    text-align: center;
    padding: 10px;
    color: #C4EFDA;
    font-weight: bold;
    margin: 40px 10px 20px 10px;
    padding: 100px;
}

.background-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.subtitle h2 {
  font-size: 40px;
  margin: 7%;
}


body {
  color: #E3F3F3;
  font-family: Georgia, serif;
  background: #3B4548;
  margin: 20px 20px 20px 20px;
  padding: 15px;
  background-position: top;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}


.nav {
    overflow: hidden;
    background-color: #3B4548;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    border: 1px solid #35CDD1;
    display: block;
    background-color: #3B4548;
    line-height: 2.5em;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    opacity: 0.8;
}


h2 {
  text-align: center;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 40px;
  color: #35CDD1;
  margin: 20px 80px 20px 80px;
}

.mywhytitle {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 40px;
  color: #C4EFDA;
  margin: auto;
}

.mywhy {
  font-size: 30px;
  color: #35CDD1;
  font-family: monospace;
  text-align: center;
  border: 1px solid #35CDD1;
  margin: 20px 55px 20px 55px;
  padding: 5px;
  border-radius: 5px;
}

.mywhy li {
  display: inline-block;
}

.mywhy li:before {
	content: '\00a0\2022\00a0\00a0';
	color: #35CDD1;
	font-size: 22px;
}
.mywhy li:first-child:before {
	content: '';
}

.mywhycontent {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .3px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 1.5em;
  font-family: monospace;
}

.blocktitle {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 30px;
  color: #C4EFDA;
  margin: 40px auto auto auto;
}

h3 {
  font-size: 50px;
}

p.content {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 10px solid #23C6B3;
  border-radius: 18px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 23px;
  font-family: monospace;
  overflow: scroll;
}

.floatblock {
  width: 50%;
  float: left;
}

.pictureblocktitle {
  position: relative;
  z-index: 2;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: #C4EFDA;
  font-weight: bold;
  margin: 50px 40px 20px 40px;
  padding: 80px;
  background-image: url("../img/rainbali2.jpg");
  border: 10px solid #23C6B3;
  border-radius: 20px;

}



p {
  margin-bottom: 1em;
}


a:link, a:visited {
  color: #35CDD1;
}

a:hover {
  color: #C4EFDA;
}

@media all and (max-width: 768px) {

  .nav {
      overflow: hidden;
      background-color: #3B4548;
      position: fixed;
      float: left;
      left: 0;
      text-align: left;
      border-radius: 5px;
      margin: 5px;
      border: 1px solid #35CDD1;
      line-height: 2.5em;
      font-family: monospace;
      font-size: 12px;
      padding: 10px;
      opacity: 0.8;
      width: 80px;
    }

  .floatblock {
      width: 100%;
      float: left;
    }

  .background-image h1 {
    position: relative;
    z-index: 2;
    font-size: 55px;
    width: 100%;
    float: left;
    color: #C4EFDA;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
    padding: 100px;
    }

    .mywhy {
      font-size: 25px;
      margin: 20px 55px 20px 55px;

    }

    .pictureblocktitle {
      background-image: url("../img/bustop.jpg");
      background-position: top center;


    }

    .pictureblocktitle h3 {
      font-size: 20px
    }

    .mywhy li {
      display: block;
    }

    .mywhy li:before {
      content: '';
      color: #35CDD1;
      font-size: 30px;
    }
    .mywhy li:first-child:before {
      content: '';
      color: #35CDD1;
      font-size: 30px;
    }

}

@media all and (max-width: 450px) {

  .background-image h1 {

    z-index: 2;
    font-size: 40px;
    width: 100%;
    float: left;
    color: #C4EFDA;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    }


  .subtitle h2 {
    font-size: 20px
  }

  .pictureblocktitle {
    background-image: url("../img/bustop.jpg");
    background-position: top center;
  }

  .pictureblocktitle h3 {
    font-size: 20px
  }

  .mywhy {
    font-size: 16px;
    color: #35CDD1;
    font-family: monospace;
    text-align: center;
    border: 1px solid #35CDD1;
    margin: 20px 55px 20px 55px;
    padding: 5px;
    border-radius: 5px;
  }

  .mywhy li {
    display: block;
  }

  .mywhy li:before {
  	content: '';
  	color: #35CDD1;
  	font-size: 22px;
  }
  .mywhy li:first-child:before {
  	content: '';
    color: #35CDD1;
  	font-size: 22px;
  }

  .mywhycontent, p.content {
    font-size: 15px;
    margin: 10px 0px 10px 0px;
  }


}
