* {
  box-sizing: border-box;
}

body {
  color: #E3F3F3;
  font-family: Georgia, serif;
  background: #3B4548;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
  color: #C4EFDA;
  font-weight: bold;
  margin: 40px 10px 20px 10px;
}


h2 {
  text-align: left;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 40px;
  color: #35CDD1;
  margin: 40px
}

p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 20px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 23px;
  font-family: monospace;
}

.nav {
    overflow: hidden;
    background-color: #3B4548;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #35CDD1;
    display: block;
    background-color: #3B4548;
    line-height: 2.5em;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    opacity: 0.8;

}

.container {
  margin: 0 20px 0 20px;
  display: inline-block;
}


.row {
  width: 100%;
}

.col {
  width: 33%;
  float: left;
}

.col2 {
  width: 50%;
  float: left;
}

img {
  border: 5px solid #23C6B3;
  border-radius: 10px;
  width: 100%;
  padding: 5px 5px 5px 5px;

}

a:link, a:visited {
    color: #35CDD1;;
}

a:hover {
    color: #C4EFDA;
}

@media all and (max-width: 768px) {

  .col {
    width: 100%;

  }

  .nav {
      overflow: hidden;
      background-color: #3B4548;
      position: fixed;
      float: left;
      left: 0;
      text-align: left;
      border-radius: 5px;
      margin: 5px;
      border: 1px solid #35CDD1;
      line-height: 2.5em;
      font-family: monospace;
      font-size: 12px;
      padding: 10px;
      opacity: 0.8;
      width: 75px;
  }

}
